<div
  class="container mx-auto py-8 bg-white p-10 shadow-md rounded-md md:max-w-[100%] lg:max-w-[80%] xl:max-w-[60%]"
>
  <h1 class="text-2xl font-bold mb-6">Crear nueva Categoría</h1>

  <form
    [formGroup]="categoryForm"
    (ngSubmit)="createCategory()"
    class="space-y-4"
  >
    <div>
      <label for="nombre" class="block text-sm font-medium text-gray-700"
        >Nombre</label
      >
      <input
        id="nombre"
        type="text"
        formControlName="nombre"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
        placeholder="Nombre de la categoría"
      />
      <div
        *ngIf="
          categoryForm.controls.nombre.invalid &&
          categoryForm.controls.nombre.touched
        "
        class="text-red-600 text-sm"
      >
        El nombre es obligatorio y debe tener menos de 255 caracteres.
      </div>
    </div>

    <div>
      <label for="descripcion" class="block text-sm font-medium text-gray-700"
        >Descripción</label
      >
      <textarea
        id="descripcion"
        formControlName="descripcion"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
        placeholder="Descripción de la categoría"
      ></textarea>
      <div
        *ngIf="
          categoryForm.controls.descripcion.invalid &&
          categoryForm.controls.descripcion.touched
        "
        class="text-red-600 text-sm"
      >
        La descripción es obligatoria.
      </div>
    </div>

    <button
      type="submit"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
      [disabled]="categoryForm.invalid"
    >
      Crear Categoría
    </button>
  </form>
</div>
