<div class="container mx-auto py-8">
  <h1 class="text-2xl font-bold mb-6">Listado de Posts</h1>

  <table class="min-w-full leading-normal">
    <thead>
      <tr>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Título
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Imagen
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Estado
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Fecha de Publicación
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Editar
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Eliminar
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <p class="text-gray-900 whitespace-no-wrap">{{ post.titulo }}</p>
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <img
            *ngIf="post.ruta_imagen"
            [src]="dominio + '/' + post.ruta_imagen"
            alt="Imagen"
            class="w-16 h-16 object-cover"
          />
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <p class="text-gray-900 whitespace-no-wrap">{{ post.estado }}</p>
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <p class="text-gray-900 whitespace-no-wrap">
            {{ post.fecha_publicacion | date : "mediumDate" }}
          </p>
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <button
            (click)="editPost(post.id)"
            class="bg-blue-500 text-white font-bold py-1 px-4 rounded hover:bg-blue-700"
          >
            Editar
          </button>
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <button
            (click)="deletePost(post.id)"
            class="bg-red-500 text-white font-bold py-1 px-4 rounded hover:bg-red-700"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<a
  routerLink="/admin/blog/posts/create"
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
>
  Crear
</a>
