<div class="container mx-auto px-4 py-8">
  <!-- Formulario de Creación/Edición -->
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold mb-4">
      {{ modoEdicion ? "Editar Artículo" : "Crear Nuevo Artículo" }}
    </h2>

    <form
      (ngSubmit)="modoEdicion ? actualizarArticulo() : crearArticulo()"
      class="space-y-4"
    >
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">
          Nombre
        </label>
        <input
          type="text"
          id="nombre"
          [ngModel]="
            modoEdicion ? articuloSeleccionado!.nombre : nuevoArticulo.nombre
          "
          (ngModelChange)="
            modoEdicion
              ? (articuloSeleccionado!.nombre = $event)
              : (nuevoArticulo.nombre = $event)
          "
          name="nombre"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>

      <div>
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="descripcion"
        >
          Descripción
        </label>
        <textarea
          id="descripcion"
          [ngModel]="
            modoEdicion
              ? articuloSeleccionado!.descripcion
              : nuevoArticulo.descripcion
          "
          (ngModelChange)="
            modoEdicion
              ? (articuloSeleccionado!.descripcion = $event)
              : (nuevoArticulo.descripcion = $event)
          "
          name="descripcion"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          rows="3"
          required
        ></textarea>
      </div>

      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="precio">
          Precio
        </label>
        <input
          type="number"
          id="precio"
          [ngModel]="
            modoEdicion ? articuloSeleccionado!.precio : nuevoArticulo.precio
          "
          (ngModelChange)="
            modoEdicion
              ? (articuloSeleccionado!.precio = $event)
              : (nuevoArticulo.precio = $event)
          "
          name="precio"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>

      <div>
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="categoria"
        >
          Categoría
        </label>
        <select
          id="categoria"
          [ngModel]="
            modoEdicion
              ? articuloSeleccionado!.categoria_id
              : nuevoArticulo.categoria_id
          "
          (ngModelChange)="
            modoEdicion
              ? (articuloSeleccionado!.categoria_id = $event)
              : (nuevoArticulo.categoria_id = $event)
          "
          name="categoria_id"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        >
          <option [ngValue]="0" disabled>Seleccione una categoría</option>
          @for (articulo of articulos; track articulo.id) { @if
          (articulo.categoria) {
          <option [value]="articulo.categoria.id">
            {{ articulo.categoria.nombre }}
          </option>
          } }
        </select>
      </div>

      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          {{ modoEdicion ? "Actualizar" : "Crear" }}
        </button>
        @if (modoEdicion) {
        <button
          type="button"
          (click)="cancelarEdicion()"
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Cancelar
        </button>
        }
      </div>
    </form>
  </div>

  <!-- Lista de Artículos -->
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
    <h2 class="text-2xl font-bold mb-4">Lista de Artículos</h2>

    <div class="overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Nombre
            </th>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Descripción
            </th>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Precio
            </th>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Categoría
            </th>
            <th
              class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          @for (articulo of articulos; track articulo.id) {
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
              {{ articulo.nombre }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
              {{ articulo.descripcion }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
              {{ articulo.precio | currency : "USD" }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
              {{ articulo.categoria?.nombre }}
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
              <button
                (click)="editarArticulo(articulo)"
                class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded mr-2"
              >
                Editar
              </button>
              <button
                (click)="eliminarArticulo(articulo.id)"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded"
              >
                Eliminar
              </button>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="5" class="px-6 py-4 text-center">
              No hay artículos disponibles
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
