<div
  class="container mx-auto py-8 bg-white p-10 shadow-md rounded-md md:max-w-[100%] lg:max-w-[80%] xl:max-w-[60%]"
>
  <h1 class="text-2xl font-bold mb-6">Editar Post</h1>

  <form [formGroup]="postForm" (ngSubmit)="updatePost()" class="space-y-4">
    <div>
      <label for="titulo" class="block text-sm font-medium text-gray-700"
        >Título</label
      >
      <input
        id="titulo"
        type="text"
        formControlName="titulo"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
        placeholder="Título del post"
      />
      <div
        *ngIf="
          postForm.controls['titulo'].invalid &&
          postForm.controls['titulo'].touched
        "
        class="text-red-600 text-sm"
      >
        El título es obligatorio y debe tener menos de 255 caracteres.
      </div>
    </div>

    <div>
      <label for="contenido" class="block text-sm font-medium text-gray-700"
        >Contenido</label
      >
      <!-- <textarea
        id="contenido"
        formControlName="contenido"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
        placeholder="Contenido del post"
      ></textarea> -->

      <quill-editor
        formControlName="contenido"
        name="contenido"
        id="txtContent"
        [modules]="moduleQuill"
        (onEditorChanged)="onChangeEditor($event)"
      ></quill-editor>
      <div
        *ngIf="
          postForm.controls['contenido'].invalid &&
          postForm.controls['contenido'].touched
        "
        class="text-red-600 text-sm"
      >
        El contenido es obligatorio.
      </div>
    </div>

    <div>
      <label for="categorias" class="block text-sm font-medium text-gray-700"
        >Categorías</label
      >
      <select
        id="categorias"
        formControlName="categorias"
        multiple
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
      >
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </option>
      </select>
      <div
        *ngIf="
          postForm.controls['categorias'].invalid &&
          postForm.controls['categorias'].touched
        "
        class="text-red-600 text-sm"
      >
        Debes seleccionar al menos una categoría.
      </div>
    </div>

    <div>
      <label for="id_autor" class="block text-sm font-medium text-gray-700"
        >Autor</label
      >
      <select
        id="id_autor"
        formControlName="id_autor"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
      >
        <option value="" disabled>Selecciona un autor</option>
        <option *ngFor="let autor of autores" [value]="autor.id">
          {{ autor.nombre }}
        </option>
      </select>
      <div
        *ngIf="
          postForm.controls['id_autor'].invalid &&
          postForm.controls['id_autor'].touched
        "
        class="text-red-600 text-sm"
      >
        Debes seleccionar un autor.
      </div>
    </div>

    <div>
      <label for="estado" class="block text-sm font-medium text-gray-700"
        >Estado</label
      >
      <select
        id="estado"
        formControlName="estado"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
      >
        <option value="publicado">Publicado</option>
        <option value="borrador">Borrador</option>
      </select>
    </div>

    <div>
      <label
        for="fecha_publicacion"
        class="block text-sm font-medium text-gray-700"
        >Fecha de Publicación</label
      >
      <input
        id="fecha_publicacion"
        type="date"
        formControlName="fecha_publicacion"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
      />
    </div>

    <div>
      <label for="imagen" class="block text-sm font-medium text-gray-700"
        >Imagen</label
      >
      <input
        id="imagen"
        type="file"
        (change)="onFileSelected($event)"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
      />
    </div>

    <button
      type="submit"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
      [disabled]="postForm.invalid"
    >
      Guardar Cambios
    </button>
  </form>
</div>
