<div
  class="container mx-auto py-8 bg-white p-10 shadow-md rounded-md md:max-w-[100%] lg:max-w-[80%] xl:max-w-[60%]"
>
  <h1 class="text-2xl font-bold mb-6">Crear nuevo Tag</h1>

  <form [formGroup]="tagForm" (ngSubmit)="createTag()" class="space-y-4">
    <div>
      <label for="nombre" class="block text-sm font-medium text-gray-700"
        >Nombre</label
      >
      <input
        id="nombre"
        type="text"
        formControlName="nombre"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
        placeholder="Nombre del tag"
      />
      <!-- Cambiar "tagForm.controls.nombre" a "tagForm.controls['nombre']" -->
      <div
        *ngIf="
          tagForm.controls['nombre'].invalid &&
          tagForm.controls['nombre'].touched
        "
        class="text-red-600 text-sm"
      >
        El nombre es obligatorio y debe tener menos de 255 caracteres.
      </div>
    </div>

    <button
      type="submit"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
      [disabled]="tagForm.invalid"
    >
      Crear Tag
    </button>
  </form>
</div>
